<section class="contact-banner-area" id="contact">
  <div class="container h-100">
    <div class="contact-banner">
      <div class="text-center">
        <h1>Facility</h1>
      </div>
    </div>
  </div>
</section>
<section class="section-margin section-margin--small">
  <div class="container">
    <div class="section-intro text-center pb-80px">
      <div class="section-intro__style">
        <a routerLink="/facility/create" style="text-decoration: none">
          <img src="assets/img/home/bed-icon.png" alt="">
          <h3>Add Facility</h3>
        </a>
      </div>
    </div>

    <div class="row pb-4">
      <div class="col-md-6 col-xl-4 mb-5" *ngFor="let facility of facility">
        <div class="card card-explore" style="width: 23rem;height: 33rem;">
          <div class="card-explore__img">
            <img class="card-img" [src]="facility.image" alt="">
          </div>
          <div class="card-body">
            <h3 class="card-explore__price">{{facility.rentCost | currency}} <sub>/ Per Night</sub></h3>
            <h4 class="card-explore__title "><a href="#" >{{facility.name}}</a></h4>
            <p>Area: {{facility.area}} {{facility.descriptionOtherConvenience}}</p>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
              <div class="modal-dialog"
                   style="position: absolute;float: left;left: 50%;top: 50%; transform: translate(-50%, -50%); width: 500px">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Confirm Delete {{nameDelete}}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" (click)="delete(idDelete)" data-bs-dismiss="modal" >Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <a class="card-explore__link" [routerLink]="['/facility/edit',facility.id]">Edit<i class="ti-arrow-right"></i></a>
            <!-- Button trigger modal -->
            <button style="float: right" type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target="#exampleModal1 " (click)="oppenDelete(facility)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <nav class="blog-pagination justify-content-center d-flex">
      <ul class="pagination">
        <li class="page-item">
          <a href="#" class="page-link" aria-label="Previous">
          <span aria-hidden="true">
            <span class="lnr lnr-chevron-left"></span>
          </span>
          </a>
        </li>
        <li class="page-item active">
          <a href="#" class="page-link">01</a>
        </li>
        <li class="page-item ">
          <a href="#" class="page-link">02</a>
        </li>
        <li class="page-item">
          <a href="#" class="page-link">03</a>
        </li>
        <li class="page-item">
          <a href="#" class="page-link">04</a>
        </li>
        <li class="page-item">
          <a href="#" class="page-link">09</a>
        </li>
        <li class="page-item">
          <a href="#" class="page-link" aria-label="Next">
          <span aria-hidden="true">
            <span class="lnr lnr-chevron-right"></span>
          </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</section>
